
.mi_pt1 {
    padding-top: 1em;
}

.mi_pb1 {
    padding-bottom: 1em;
}

.mi_pt2 {
    padding-top: 2em;
}

.mi_pb2 {
    padding-bottom: 2em;
}

.mi_pt3 {
    padding-top: 3em;
}

.mi_pb3 {
    padding-bottom: 3em;
}

.dividir_en_dos {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
    /*gap: 1em;*/
}

.dividir_en_dos div {
    padding: 1em;
}